<header>
    <nav>
        <div class="logo">
            <a href="{{ '/' | relative_url }}">
                <img src="{{ '/assets/images/logo.jpg' | relative_url }}" alt="Lillebælt Bouldering Logo">
            </a>
        </div>
        <button type="button" class="burger-menu" aria-label="Åbn/luk navigationsmenu" aria-expanded="false">
            <span class="burger-line"></span>
            <span class="burger-line"></span>
            <span class="burger-line"></span>
        </button>
        <ul class="nav-links">
            <li><a href="{{ '/' | relative_url }}">Hjem</a></li>
            <li><a href="{{ '/about' | relative_url }}">Om Os</a></li>
            <li><a href="{{ '/bouldering' | relative_url }}">Bouldering</a></li>
            <li><a href="https://lillebaeltbouldering.unioo.info/subscriptions" target="_blank" rel="noopener noreferrer">Medlemskab</a></li>
            <li><a href="{{ '/contact' | relative_url }}">Kontakt</a></li>
        </ul>
    </nav>
</header>
